@charset "UTF-8";
* {
  font-family: "Roboto Mono", 微軟正黑體;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

header.jumbotron {
  padding: 130px;
  margin-bottom: 0px;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/topic/main_1605584627_tu47NH_2800x1575.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
header.jumbotron .container {
  text-align: center;
  padding: 25px;
}
header.jumbotron .container hr {
  max-width: 150px;
}

section {
  padding: 50px;
}
section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

section#section_ai {
  margin-top: 0px;
  height: auto;
  font-size: 24px;
}
section#section_ai .contain-fluid {
  margin-right: 0px;
  padding: 0px;
}
section#section_ai img {
  width: 100%;
  height: 100%;
  position: middle;
  padding: 0px;
}
section#section_ai .img_wrap {
  height: 230px;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
section#section_ai .cross {
  position: absolute;
  left: 40%;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

section#section_hot {
  background-color: #333;
  color: #f1f1f1;
}
section#section_hot img {
  width: 120%;
}
section#section_hot .img_wrap {
  padding: 10px 0 10px 0;
  height: 400px;
  overflow: hidden;
}
section#section_hot .image_price {
  padding: 5px;
  overflow: hidden;
  text-align: centre;
  font-size: 60px;
}
section#section_hot p {
  padding: 5px;
}

section#section_category .col-md-5 {
  background-image: url(http://mmbiz.qpic.cn/mmbiz/5feXIiajDItf8T2YZoxCuVrhFMrVibfeZ8KGD7No9nL7bCUtpviblEmIia4okbL7aHqTNdGd4zWmcO83WfxVNZvibbg/0?wx_fmt=jpeg);
}

section#section_category footer.jumbotron {
  margin-bottom: 0px;
  background-image: url(https://img.ruten.com.tw/s2/e/3a/1a/21903597548058_722.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
section#section_category footer.jumbotron .container {
  text-align: center;
  background-color: transparent;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

Section#Section_BigCategory {
  border: solid 1px;
}
Section#Section_BigCategory img {
  width: 10%;
  vertical-align: top;
}